.card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 1rem 0;
  border-radius: 0.25rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  transform-style: preserve-3d;
  width: 1000px;
  height: 600px;
  transition: 150ms;
  cursor: pointer;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0)) translateY(var(--translate-y, 0));
}

.card:hover {
  --translate-y: -2px;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.5);
}

.card.flip {
  --rotate-y: 180deg;
}

.card .front,
.card .back {
  position: absolute;
  padding: 32px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card .back {
  transform: rotateY(180deg);
  overflow: scroll;
  height: inherit;
}

.card .back h2 {
  margin-top: 0;
}

.card .back p {
  margin: 0;
  margin-bottom: 2rem;
}

.card .back ul {
  padding: 1rem;
}

.card .back li {
  margin-bottom: 0.25rem;
}

.card .back > ul > li > a:hover {
  color: #0070f3;
}
